

%br
%h3
  #results
    Tic Tac Toe

%br
#play-again
%table
  %tr
    %td
      .blank#1
        %p.box
          n
      .first-player#1
        %p.box
          x
      .second-player#1
        %p.box
          o
    %td
      .blank#2
        %p.box
          n
      .first-player#2
        %p.box
          x
      .second-player#2
        %p.box
          o
    %td
      .blank#3
        %p.box
          n
      .first-player#3
        %p.box
          x
      .second-player#3
        %p.box
          o
  %tr
    %td
      .blank#4
        %p.box
          n
      .first-player#4
        %p.box
          x
      .second-player#4
        %p.box
          o
    %td
      .blank#5
        %p.box
          n
      .first-player#5
        %p.box
          x
      .second-player#5
        %p.box
          o
    %td
      .blank#6
        %p.box
          n
      .first-player#6
        %p.box
          x
      .second-player#6
        %p.box
          o
  %tr
    %td
      .blank#7
        %p.box
          n
      .first-player#7
        %p.box
          x
      .second-player#7
        %p.box
          o
    %td
      .blank#8
        %p.box
          n
      .first-player#8
        %p.box
          x
      .second-player#8
        %p.box
          o
    %td
      .blank#9
        %p.box
          n
      .first-player#9
        %p.box
          x
      .second-player#9
        %p.box
          o
%br

%br
%br
%br
%h6.built-by
  created by b2d2


#game-mode
  %h3.select-game-mode
    Select Game Mode

  %br
  .ninety-rotate
    .letter-slider
      %input#player_1{:checked => "checked", :type => "radio"}/
      %label{:for => "player_1"}
        .label_1 Human vs Computer
      %input#player_2{ :type => "radio"}/
      %label{:for => "player_2"}
        .label_2 Computer vs Human
      %input#player_3{:type => "radio"}/
      %label{:for => "player_3"}
        .label_3 Computer vs Computer

  =hidden_field_tag 'played_positions', '0'

  %br
  %br
  %br
  =button_tag 'Play', class: 'btn btn-lg btn-dark', id: 'start-play'


:javascript
  $('.blank').on('click', function(){
    $(this).hide();
    $('table')[0].style.pointerEvents = 'none';
    var audio = new Audio('/human_click.mp3');
    audio.play();
    position = this.id
    played_positions = $('#played_positions')[0].value
    if ((Math.round(played_positions.length / 2) % 2 == 0) || played_positions == "0"){
      $('#' + position + '.first-player').show();
      }
    else {
      $('#' + position + '.second-player').show();
      }

    setTimeout(function(){
      $.ajax({url: "/games/move.js?played_positions=" + played_positions + "&new_move=" + position, success: function(result){
        console.log("called move endpoint")}})
      }, 1000);
  });
  $('#start-play').on('click', function(){
    $('.blank').show();
    $('.first-player').hide();
    $('.second-player').hide();
    $('#results')[0].innerHTML = "Tic Tac Toe"

    played_positions = '0'
    $('#played_positions')[0].value = played_positions
    if ($('#player_2')[0].checked || $('#player_3')[0].checked){
      $.ajax({url: "/games/move.js?played_positions=" + played_positions + "&new_move=" + 0, success: function(result){
      console.log("called move endpoint")}})
    }
    else {
      $('table')[0].style.pointerEvents = 'auto';
      $('#results')[0].innerHTML = "Your Turn";
    }

  });
