.first-player, .second-player, .blank{
    width: 200px;
    height: 200px;
    font-size: 200px;
}
.first-player{
    display: none;
    color: darkred;
}
.second-player{
    display: none;
}
.blank{
    color: white;
}

table, td {
    border: 3px solid black;
    margin: auto;
}

table {
    table-layout: fixed;
}

.box {
    position: relative;
    left: 50px;
    bottom: 70px;
    background-color: yellow;
    width: 0px;
    height: 0px;
}

#results{
     text-align: center;
 }

.built-by{
    text-align: right;
}